@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@200;300;500&display=swap");
:root {
  --font-size-small: 15px;
  --font-size-medium: 22px;
  --font-size-large: 32px;
  --font-size-xlarge: 48px;
  --font-wight-bold: 500;
  --font-wight-normal: 300;
  --font-wight-light: 200;
  --light-color: #292847;
  --dark-color: #1e1f33;
  --heading-color: #96bcd5;
  --info-color: #d0d0ff;
}
* {
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  background-color: var(--dark-color);
}
/*START THE HEADER*/
.header {
  background-color: var(--light-color);
  width: 100%;
  display: flex;
  justify-content: center;
}
.header p {
  width: 50%;
  font-size: var(--font-size-xlarge);
  font-weight: var(--font-wight-bold);
  color: var(--heading-color);
  padding: 25px;
  margin: 0;
  text-align: center;
}
.header p:hover {
  color: white;
  cursor: pointer;
}
/*END THE HEADER*/

/*START THE SEARCH BOX*/
.search-box {
  width: 100%;
  padding: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.search-box .search-input {
  width: 70%;
  height: 60px;
  border-radius: 25px;
  background-color: var(--dark-color);
  border: 2px solid var(--light-color);
  padding: 10px 0 10px 20px;
  font-size: var(--font-size-medium);
  color: #484597;
}
.search-box .search-input:focus {
  outline: none;
}
/*END THE SEACH BOX*/

/*START THE MOVIE CONTAINER*/
.movies-container {
  display: grid;
  grid-gap: 1.5em;
  grid-template-columns: repeat(4, 1fr);
  padding: 10px 30px 20px 30px;
  align-items: center;
  justify-items: center;
}
.movies-container .movie {
  background-color: var(--light-color);
  border: 2px solid var(--light-color);
  border-radius: 15px;
  width: 95%;
  height: 100%;
  align-self: start;
  padding: 5px;
  position: relative;
}
.movies-container .movie img {
  max-width: 100%;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  cursor: pointer;
}
.movies-container .movie .info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
}
.movies-container .movie .info h4 {
  margin: 5px 0 6px 8px;
  font-weight: var(--font-wight-bold);
}
.movies-container .movie .info span {
  background-color: var(--dark-color);
  height: 32px;
  width: 50px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-right: 2px;
  padding: 3px;
}
.star {
  color: yellow;
  margin: 0 2px 1px 0;
}
/*END THE MOVIE CONTAINER*/

/*START THE MOVIE CARD */
.card {
  width: 50%;
  margin: auto;
  border-radius: 10px;
  position: relative;
  display: grid;
  grid-template-columns: 3fr 4fr;
  grid-template-rows: 90% 10%;
  justify-items: stretch;
  align-items: stretch;
}
.card .card-left {
  grid-column: 1/2;
  grid-row: 1/2;
  background-color: var(--light-color);
  border-radius: 10px 0 0 10px;
  -webkit-border-radius: 10px 0 0 10px;
  -moz-border-radius: 10px 0 0 10px;
  overflow: hidden;
}
.card .card-left img {
  max-width: 100%;
  border-radius: 10px 0 0 10px;
  -webkit-border-radius: 10px 0 0 10px;
  -moz-border-radius: 10px 0 0 10px;
}
.card .card-right {
  width: 100%;
  grid-row: 1/2;
  background: var(--light-color);
  border-radius: 0 10px 10px 0;
  -webkit-border-radius: 0 10px 10px 0;
  -moz-border-radius: 0 10px 10px 0;
}
.card .card-right h1 {
  color: white;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  text-align: left;
  font-size: 40px;
  margin: 30px 0 0 0;
  padding: 10px 0 5px 40px;
  letter-spacing: 1px;
}
.card .card-right span {
  background-color: var(--dark-color);
  height: 32px;
  width: 50px;
  margin: 7px 0 0 0;
  position: absolute;
  top: 0;
  left: 10px;
  padding: 10px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}
.card .card-right .card_right__details ul {
  list-style-type: none;
  padding: 0 0 0 40px;
  margin: 10px 0 0 0;
}
.card .card-right .card_right__details ul li {
  display: inline;
  color: #e3e3e3;
  font-weight: 400;
  font-size: 14px;
  padding: 0 5px 0 0;
}

.card-right-review p {
  color: white;
  font-size: 12px;
  padding: 0 40px 0 40px;
  letter-spacing: 1px;
  margin: 10px 0 10px 0;
  line-height: 20px;
}
.card-right-review a {
  text-decoration: none;
  font-size: 14px;
  padding: 0 0 0 40px;
  color: #ffda00;
  margin: 0;
}
.card .back {
  grid-column: 1/3;
  display: flex;
  justify-content: center;
  align-items: center;
}
.card .back .back-btn {
  border: none;
  padding: 8px 16px;
  width: 50%;
  text-align: center;
  color: var(--info-color);
  background-color: var(--light-color);
}
.card .back .back-btn:hover {
  cursor: pointer;
  transition: 0.2s ease-in-out;
  background-color: var(--dark-color);
  color: var(--info-color);
}
/*END THE MOVIE CARD */

/*START NEXT AND PREV BUTTONS*/
.page-control {
  display: flex;
  margin: 10px 50px 10px 50px;
  align-items: center;
  justify-content: space-evenly;
}
.page-control button {
  border: none;
  display: inline-block;
  padding: 8px 16px;
  margin-bottom: 30px;
  width: 150px;
  text-align: center;
  color: var(--info-color);
  background-color: var(--light-color);
}
.page-control button[disabled] {
  border: 1px solid #999999;
  background-color: #cccccc;
  color: #666666;
  cursor: none;
}
.page-control button[disabled]:hover {
  border: 1px solid #999999;
  background-color: #cccccc;
  color: #666666;
  cursor: no-drop;
}
.page-control button:hover {
  cursor: pointer;
  transition: 0.2s ease-in-out;
  background-color: var(--dark-color);
  color: var(--info-color);
}
/*END NEXT AND PREV BUTTONS*/

/* MAKE IT RESPONSIVE FOR LAPTOPS */
@media only screen and (min-width: 768px) {
  .card {
    width: 75%;
  }
}

/*EXTRA MOBILES*/
@media (max-width: 768px) {
  .movies-container {
    grid-template-columns: repeat(2, 1fr);
  }
  .header p {
    font-size: var(--font-size-large);
  }
  .card {
    grid-template-columns: 100%;
    grid-template-rows: 40% 52% 8%;
  }
  .card .card-left {
    grid-row: 1/2;
  }
  .card .card-right {
    grid-column: 1/3;
    grid-row: 2/3;
    display: grid;
    grid-template-rows: auto;
  }
  .card .card-right h1 {
    font-size: var(--font-size-small);
    margin-top: 5px;
    grid-column: 1/2;
    grid-row: 1/2;
  }
  .card .card-right ul {
    grid-column: 1/2;
    grid-row: 2/3;
    display: flex;
    flex-direction: column;
  }
  .card .back {
    grid-column: 1/3;
    grid-row: 3/4;
  }
}
/*FOR MOBILES*/
@media only screen and (max-width: 600px) {
  .header p {
    width: 75%;
    font-size: var(--font-size-large);
  }
  .movies-container {
    grid-gap: 0;
    padding: 0;
  }
  .card {
    width: 70%;
  }
}
